2-AI-Support-Router/ai-support-export.json
{
  "name": "Casino AI Support",
  "nodes": [
    {
      "parameters": {
        "jsCode": "const raw = \n$input.first().json.output[0].content[0].text\nconst cleaned = raw\n  .replace(/```json/g, '')\n  .replace(/```/g, '')\n  .trim();\n\nconst parsed = JSON.parse(cleaned);\n\nreturn [{ json: parsed }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        304,
        -32
      ],
      "id": "24d21f05-746a-4f6d-aacd-c19fb611923a",
      "name": "Parsing JSON"
    },
    {
      "parameters": {
        "description": "Use this tool to look up accurate information about Baloo.bet casino policies \nand procedures. Call this tool whenever a player asks about account registration, \nlogin or password issues, identity verification, bonuses, free spins, wagering \nrequirements, available games, deposits, withdrawals, payment methods, \ntransaction fees, mobile app, license, or responsible gaming options. \nAlways prefer information from this tool over your own general knowledge \nwhen answering casino-specific questions.",
        "jsCode": "const knoledge_base = [{\n  \"casino_name\": \"Baloo.bet\",\n  \"description\": \"Internal knowledge base for AI support agent. Use this data to answer player questions accurately. Never mention 1Win — always refer to Baloo.bet.\",\n  \"knowledge_base\": [\n    {\n      \"category\": \"Account\",\n      \"topic\": \"registration\",\n      \"question\": \"How do I create an account?\",\n      \"answer\": \"Click the Sign Up button, fill in your details and follow the steps to complete registration. You can register quickly or via your social media account.\"\n    },\n    {\n      \"category\": \"Account\",\n      \"topic\": \"password\",\n      \"question\": \"I forgot my password, what do I do?\",\n      \"answer\": \"Click 'Forgot Password?' on the login screen, enter your email address and follow the reset instructions sent to your inbox.\"\n    },\n    {\n      \"category\": \"Account\",\n      \"topic\": \"email_change\",\n      \"question\": \"Can I change my registered email address?\",\n      \"answer\": \"Yes. Contact our support team with your user ID, current email, and the new email you want to use.\"\n    },\n    {\n      \"category\": \"Account\",\n      \"topic\": \"kyc_verification\",\n      \"question\": \"How do I verify my account?\",\n      \"answer\": \"If verification is required, submit a photo of a valid ID such as a passport or driver's license through your account settings.\"\n    },\n    {\n      \"category\": \"Account\",\n      \"topic\": \"multiple_accounts\",\n      \"question\": \"Can I have more than one account?\",\n      \"answer\": \"No. Multiple accounts are strictly against our policy. If you have access issues, please contact support.\"\n    },\n    {\n      \"category\": \"Bonus\",\n      \"topic\": \"welcome_bonus\",\n      \"question\": \"What bonuses are available for new players?\",\n      \"answer\": \"New players receive a generous welcome bonus on their first deposit. Visit the Promotions page for current offers and full details.\"\n    },\n    {\n      \"category\": \"Bonus\",\n      \"topic\": \"how_to_claim\",\n      \"question\": \"How do I get my bonus?\",\n      \"answer\": \"Bonuses are applied automatically once you meet the qualifying conditions, such as making a minimum deposit.\"\n    },\n    {\n      \"category\": \"Bonus\",\n      \"topic\": \"ongoing_promotions\",\n      \"question\": \"Are there promotions for existing players?\",\n      \"answer\": \"Yes. We offer weekly bonuses, cashback, and free spins for loyal players. Check the Promotions page regularly for updates.\"\n    },\n    {\n      \"category\": \"Bonus\",\n      \"topic\": \"wagering_requirements\",\n      \"question\": \"Do bonuses have wagering requirements?\",\n      \"answer\": \"Yes. All bonuses must be wagered according to the terms and conditions before any winnings can be withdrawn.\"\n    },\n    {\n      \"category\": \"Bonus\",\n      \"topic\": \"multi_bet_bonus\",\n      \"question\": \"What is a multi-bet bonus?\",\n      \"answer\": \"A multi-bet bonus increases your potential winnings when betting on multiple events. The more events you include, the higher the bonus.\"\n    },\n    {\n      \"category\": \"Games\",\n      \"topic\": \"game_catalog\",\n      \"question\": \"What games are available?\",\n      \"answer\": \"We offer over 12,000 games including slots, live dealer tables, crash games, and classic table games like roulette and blackjack.\"\n    },\n    {\n      \"category\": \"Games\",\n      \"topic\": \"demo_mode\",\n      \"question\": \"Can I play for free without real money?\",\n      \"answer\": \"Yes. Most games are available in demo mode so you can play without risking real money.\"\n    },\n    {\n      \"category\": \"Games\",\n      \"topic\": \"fairness\",\n      \"question\": \"Are the games fair?\",\n      \"answer\": \"All games are tested for fairness and use certified Random Number Generators (RNG) to ensure random and unbiased outcomes.\"\n    },\n    {\n      \"category\": \"Games\",\n      \"topic\": \"mobile\",\n      \"question\": \"Can I play on my phone?\",\n      \"answer\": \"Yes. Baloo.bet works on all mobile browsers and we also have a free app available for both Android and iOS.\"\n    },\n    {\n      \"category\": \"Games\",\n      \"topic\": \"live_casino\",\n      \"question\": \"How do I access live dealer games?\",\n      \"answer\": \"Go to the Live Casino section, choose your game, and join a real-time table with a live dealer instantly.\"\n    },\n    {\n      \"category\": \"Responsible_Gaming\",\n      \"topic\": \"limits\",\n      \"question\": \"Can I set limits on my gaming?\",\n      \"answer\": \"Yes. You can set deposit limits, session time limits, and use self-exclusion tools directly from your account settings.\"\n    },\n    {\n      \"category\": \"Responsible_Gaming\",\n      \"topic\": \"self_exclusion\",\n      \"question\": \"How do I self-exclude?\",\n      \"answer\": \"Go to your account settings and select the responsible gaming section to activate self-exclusion. You can also contact our support team directly for immediate assistance.\"\n    },\n    {\n      \"category\": \"Finance\",\n      \"topic\": \"payment_methods\",\n      \"question\": \"What payment methods do you accept?\",\n      \"answer\": \"We accept credit and debit cards, e-wallets, bank transfers, and cryptocurrencies.\"\n    },\n    {\n      \"category\": \"Finance\",\n      \"topic\": \"deposit_speed\",\n      \"question\": \"How fast are deposits?\",\n      \"answer\": \"Deposits are usually instant. In some cases it may take a few minutes depending on your payment provider.\"\n    },\n    {\n      \"category\": \"Finance\",\n      \"topic\": \"withdrawal_speed\",\n      \"question\": \"How long do withdrawals take?\",\n      \"answer\": \"Most withdrawals are processed within 30 minutes after verification is complete. In rare cases it may take up to 48 hours.\"\n    },\n    {\n      \"category\": \"Finance\",\n      \"topic\": \"fees\",\n      \"question\": \"Are there any fees for transactions?\",\n      \"answer\": \"Baloo.bet does not charge transaction fees. However, your payment provider may apply their own fees.\"\n    },\n    {\n      \"category\": \"Finance\",\n      \"topic\": \"minimum_deposit\",\n      \"question\": \"What is the minimum deposit?\",\n      \"answer\": \"The minimum deposit varies by payment method. Check the cashier section for the exact amount for your preferred method.\"\n    },\n    {\n      \"category\": \"Finance\",\n      \"topic\": \"cancel_withdrawal\",\n      \"question\": \"Can I cancel a withdrawal?\",\n      \"answer\": \"Yes. If your withdrawal is still pending you can cancel it through the account menu and the funds will be returned to your balance.\"\n    },\n    {\n      \"category\": \"General\",\n      \"topic\": \"license\",\n      \"question\": \"Is Baloo.bet licensed?\",\n      \"answer\": \"Yes. Baloo.bet operates under a valid gaming license, ensuring a secure and regulated environment for all players.\"\n    },\n    {\n      \"category\": \"General\",\n      \"topic\": \"contact_support\",\n      \"question\": \"How do I contact support?\",\n      \"answer\": \"You can reach us via live chat or email. Our support team is available 24 hours a day, 7 days a week.\"\n    },\n    {\n      \"category\": \"General\",\n      \"topic\": \"mobile_app\",\n      \"question\": \"Is there a mobile app?\",\n      \"answer\": \"Yes. Our app is available for both Android and iOS and can be downloaded directly from our website.\"\n    }\n  ]\n}];\n\nreturn JSON.stringify(knoledge_base);"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.3,
      "position": [
        80,
        144
      ],
      "id": "9b373762-8808-4168-bb54-623908099e52",
      "name": "Casino FAQ base"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.escalate }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    },
                    "id": "2f167feb-aaae-4c74-8f76-4eeaebb1a9b9"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "d4035e01-d9e2-4bb8-acb6-48399274cefd",
                    "leftValue": "={{ $json.escalate }}",
                    "rightValue": false,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        464,
        -32
      ],
      "id": "f3434b4d-f436-4808-b8e9-86e13a513587",
      "name": "URGENT?"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "6a4a49a8-3b79-4e96-b58a-00ae8118fe29",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -160,
        -32
      ],
      "id": "39100653-99fb-4a01-9e69-5bcffabeee5c",
      "name": "Getting a message",
      "webhookId": "6a4a49a8-3b79-4e96-b58a-00ae8118fe29"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "=You are a support agent for Baloo.bet, a premium online casino. \nYou are professional, calm, and helpful — never robotic.\n\nA player sent this message: {{ $json.body.message }}\n\nYour job is to read the message and return ONLY a valid JSON object — \nno explanation, no markdown, no backticks. Just raw JSON.\n\nReturn exactly these 4 keys:\n\n{\n  \"reply_text\": \"Your polite, helpful response to the player. Be specific, not generic. Max 3 sentences.\",\n  \"category\": \"one of: Withdrawal | Deposit | Bonus | Account | Technical | Responsible Gaming | Fraud | VIP | General\",\n  \"urgency\": \"one of: Critical | High | Medium | Low\",\n  \"escalate\": true or false\n}\n\nCategory guide:\n- Withdrawal     → player can't withdraw, payment delayed, verification issues\n- Deposit        → payment not received, deposit failed, limits\n- Bonus          → free spins, promo codes, wagering requirements, missing bonus\n- Account        → login issues, blocked account, KYC, personal data\n- Technical      → game crash, website bug, app not loading\n- Responsible_Gaming → player wants to self-exclude, set limits, mentions addiction\n- Fraud          → player suspects unauthorized activity, stolen account, scam\n- VIP            → high-value player requests, personal manager, exclusive offers\n- General        → anything else\n\nUrgency guide:\n- Critical → Fraud, account blocked, Responsible_Gaming (self-exclusion request)\n- High     → Withdrawal stuck, account login impossible, payment failed\n- Medium   → Bonus missing, deposit not credited, technical bug\n- Low      → General question, rules clarification, promo inquiry\n\nEscalate guide:\n- true  → Critical or High urgency, or any Fraud or Responsible_Gaming category\n- false → everything else"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        0,
        -32
      ],
      "id": "99eef78d-f413-4e5e-aade-aa2784a81867",
      "name": "Analyzing message and responding using FAQ base",
      "credentials": {
        "openAiApi": {
          "id": "JPxum6AD70IJrt4j",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={\n  \"reply\": \"{{ $json.reply_text }}\"\n}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        688,
        80
      ],
      "id": "f2346bcf-d477-403f-a473-730bcd780b29",
      "name": "Common question - AI answer"
    },
    {
      "parameters": {
        "chatId": "652176661",
        "text": "=🚨 Escalation Required - Baloo.bet Support\n\n⚡ Urgency: {{ $json.urgency }}\n\n📂 Category: {{ $json.category }}\n\n💬 Player Message: {{ $('Getting a message').item.json.body.message }}\n\n🤖 AI Response Sent: {{ $json.reply_text }}\n\n⚠️ This case requires human attention. Please respond to the player directly.\n\n{{ $today.format('hh:mm | yyyy-MM-dd') }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        688,
        -144
      ],
      "id": "f9b245d1-da12-4b9c-a692-674ed8b97f1a",
      "name": "URGENT - alerting support manager",
      "webhookId": "dcaf294c-3c6d-470c-8a77-4d8d11624af6",
      "credentials": {
        "telegramApi": {
          "id": "awPNL3T7YBvTGlFx",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1x7fB4XMGArzEKmeVQfvNHos0sb06aj_DrgVswp_tMoc",
          "mode": "list",
          "cachedResultName": "Churns",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1x7fB4XMGArzEKmeVQfvNHos0sb06aj_DrgVswp_tMoc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1620497167,
          "mode": "list",
          "cachedResultName": "Questions/Support",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1x7fB4XMGArzEKmeVQfvNHos0sb06aj_DrgVswp_tMoc/edit#gid=1620497167"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date and Time": "={{ $today.format('yyyy-MM-dd hh:mm') }}",
            "Respond": "={{ $json.reply_text }}",
            "Category": "={{ $json.category }}",
            "Urgency": "={{ $json.urgency }}",
            "Escalate": "={{ $json.escalate }}",
            "Question": "={{ $('Getting a message').item.json.body.message }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date and Time",
              "displayName": "Date and Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Question",
              "displayName": "Question",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Respond",
              "displayName": "Respond",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Urgency",
              "displayName": "Urgency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Escalate",
              "displayName": "Escalate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        896,
        80
      ],
      "id": "efd46cf5-e9a9-4901-b57f-72197adc2efd",
      "name": "Adding question to base",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "S0js6birFI5LkUOY",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Parsing JSON": {
      "main": [
        [
          {
            "node": "URGENT?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Casino FAQ base": {
      "ai_tool": [
        [
          {
            "node": "Analyzing message and responding using FAQ base",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "URGENT?": {
      "main": [
        [
          {
            "node": "URGENT - alerting support manager",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Common question - AI answer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Getting a message": {
      "main": [
        [
          {
            "node": "Analyzing message and responding using FAQ base",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyzing message and responding using FAQ base": {
      "main": [
        [
          {
            "node": "Parsing JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "URGENT - alerting support manager": {
      "main": [
        []
      ]
    },
    "Common question - AI answer": {
      "main": [
        [
          {
            "node": "Adding question to base",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "bc106fec-39e9-461d-b7a7-39e068137150",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5ab3b6cabe868f7ab2cc64623bee0dd51ba16d6f8805dcee30d28f2c85b305b9"
  },
  "id": "Hhs9sqNM698aeqpz",
  "tags": [
    {
      "updatedAt": "2026-05-24T20:20:23.208Z",
      "createdAt": "2026-05-24T20:20:23.208Z",
      "id": "TvpKpQPv4oYPHiQm",
      "name": "casino"
    }
  ]
}